<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Alarm" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=Alarmsystem;Integrated Security=True" />
    <add name="Test_1.Properties.Settings.AlarmsystemConnectionString"
      connectionString="Data Source=localhost\sqlexpress;Initial Catalog=Alarmsystem;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>